.registration {
    width: 300px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    position: relative;
}

.input_div {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #dbdbdb;
}

.inputdiv {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 36px;
}

.input_div img {
    width: 20px;
    height: auto;
    margin: 0 5px;
}

.input_div input {
    height: 34px !important;
    width: 240px !important;
    border: none !important;
}

input:focus {
    outline: none;
}

input.check {
    margin: 0 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.registerbtn {
    width: 100%;
    padding: 8px;
    color: #000;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}

.div1, .div2, .div3, .div4 {
    position: absolute;    
    padding: 5px;
    font-size: 12px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #f00a29;
}


.div1 {
    top: 230px;
    right: 0;
}

.div2 {
    top: 280px; 
    right: 0;
}

.div3 {
    top: 180px;
    right: 0;
}

.div4 {
    top: 120px;
    right: 0;
}

.circular{
    height: 50px;
    width: 50px;
    position: relative;
  }
  .circular .inner, .circular .outer, .circular .circle{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
  }
  .circular .inner{
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin: -20px 0 0 -20px;
    background-color: #dde6f0;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
  .circular .circle{
    z-index: 1;
    box-shadow: none;
  }
  .circular .numb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 14px;
    font-weight: 500;
    color: #a841d0;
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 50px, 25px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 25px, 50px, 0px);
  }
  .circle .bar .progress, .dot span{
    background: #a841d0;
  }
  .circle .left .progress{
    z-index: 1;
    animation: left 30s linear both;
  }
  @keyframes left {
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right{
    z-index: 3;
    transform: rotate(180deg);
  }
  .circle .right .progress{
    animation: right 30s linear both;
    animation-delay: 30s;
  }
  @keyframes right {
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .dot{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 10px;
    margin-top: -5px;
    animation: dot 60s linear both;
    transform-origin: 0% 50%;
  }
  .circle .dot span {
    position: absolute;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
  }
  @keyframes dot{
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(90deg);
      z-index: 4;
    }
    100% {
      transform: rotate(270deg);
      z-index: 4;
    }
  }

  .timer_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sendingSMS, .sendingSMS_ {
    margin: 0;
    color: #999292;
    font-size: 14px;
  }

  .sendingSMS_ {
    margin-bottom: 20px;
  }

.repeatcode {
    border: none;
    background-color: #fff;
    width: 100%;
    text-align: left;
    margin: 10px 0 20px 0;
    text-decoration: underline;
    color: #a841d0;
    font-size: 14px;
    cursor: pointer;
}